/*CSS para el menú del contenedor*/
body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

#header {
	height: 50px;
	background-color: lightblue;
	padding: 0 5px 0 5px;
}

#header h1 {
	height:100%;
	margin:0;
	display: inline;
}

#exitButton {
	float: right;
	margin-top: 5px;
}

#wrapper {
	margin: 100px auto;
	width: 60%;
	/*background-color:#BDE6BF; /* Color de Fondo */
}
#add-printer {
	margin-bottom: 1em;
}
/**/
.printer-menu {
	background-color: lightblue;
	position: relative;
	margin: 0 auto;
	border: 1px solid #99c;
	width: 100%;
	padding: 1em;
}

.printer-info {
	width: 100%;
	margin-bottom: 1em
}

.printer-info h3, .queue {
	display: inline;
}

.status {
	float: right;
}

.show-hide-button {
	font-size: 0.9;
}

.policy-statements {
	position: relative;
	border: 1px solid #9cc;
	margin: 1em 0 0 0;
	width: 99%;
	min-height: 10em;
	display: none;
	font-size: smaller;
}

.printer-menu, .policy-statements { 
	border-radius: 5px;
}

.policy-statements p, #policy-menu p {
	border-bottom: 1px dashed #090;
}

#policy-menu {
	z-index: 2;
	margin-top: 5em;
	border: 5px ridge #4297D7;
	background-color: #FFF;
	position: fixed;
	width: 13em;
	padding: 0 1em 1em 1em;
	display: none;
	border-radius: 10px;
}