/*CSS para el menú del contenedor*/
body {
	margin: 0;
}

#header {
	height: 50px;
	background-color: lightblue;
	padding: 0 5px 0 5px;
}

#header h1 {
	height:100%;
	margin:0;
	display: inline;
}

#exitButton {
	float: right;
	margin-top: 5px;
}

#wrapper {
	margin: 100px auto;
	width: 60%;
	/*background-color:#BDE6BF; /* Color de Fondo */
}

/**/
.printer-menu {
	background-color: lightblue;
	position: relative;
	margin: 0 auto;
	border: 1px solid #000;
	width: 100%;
	height: 150px;
	padding: 10px;
}

.policy-statements {
	position: relative;
	background-color: #cfc;
	border: 1px solid #999;
	margin: 30px auto;
	width: 100%;
	height: 80px;
	display: none;
}

.printer-menu, .policy-statements { 
	border-radius: 15px;
	
}

#policy-menu {
	z-index: 2;
	border: 5px ridge;
	margin-top: 8%;
	background-color: #cfc;
	position: fixed;
	height: 20%;
	width: 15%;
	display: none;
}